body {
  margin: 0;
  padding: 0;
}

.margins {
  background-color: #75a30b; /* Color verde para los márgenes */
  padding: 20px;
  color: #FFFFFF; /* Color del texto, lo ajustamos a blanco para que sea visible sobre el fondo verde */
}

.margins-top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999; /* Asegura que el margen superior esté por encima del resto del contenido */
  color: white;
  font-weight: 800; /* Ajusta el valor para hacer el texto más "gordito" */
  text-align: center;
  font-family: 'Montserrat', sans-serif; /* Usamos la fuente Montserrat */
  font-size: 20px;
}

.contenido-informal {
  text-align: justify;
  margin: 100px;
  padding: 20px;
  font-weight: 500; /* Ajusta el valor para hacer el texto más "gordito" */
  font-family:'Times New Roman', Times, serif; /* Usamos la fuente Montserrat */
  font-size: 30px;
}

.contenido-informal p {
  text-align: justify;
  margin-bottom: 120px;
  margin-top: 200px;
  max-width: 100%;
  overflow-wrap: break-word;
  line-height: 1.5;
}

.margins-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.margins-bottom div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 10px;
}

.margins-bottom img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-left: 2cm; /* Margen izquierdo de 2cm */
  margin-right: 2cm; /* Margen derecho de 2cm */
}

.margins-bottom p {
  text-align: center;
  margin: 0; 
  color: white;
  font-weight: 800; /* Ajusta el valor para hacer el texto más "gordito" */
  text-align: center;
  font-family: 'Montserrat', sans-serif; /* Usamos la fuente Montserrat */
  font-size: 20px;
}


.scroll-up {
  position: fixed;
  top: 50px; /* Distancia desde la parte superior */
  right: 20px; /* Distancia desde la parte derecha */
  max-width: calc(100% - 40px); /* Limita la anchura máxima */
  background-color: #4c6a06ba; /* Color de fondo del botón */
  color: #FFFFFF; /* Color del texto del botón */
  padding: 10px 15px;
  text-decoration: none;
  border-radius: 5px;
}

.scroll-up:hover {
  background-color: #314403ba; /* Color de fondo del botón al pasar el mouse por encima */
}